@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --clr-bg-color: #fafbff;

  --clr-text-color: #021c35;
  --clr-text-color-gray: #636768;

  --clr-primary-color: #173450;
  --clr-primary-color-light-100: #c3e7ff;
  --clr-primary-color-light-200: #eef2fb;

  --clr-card-color: #f1f4fb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-bg-color);
  color: var(--clr-text-color);
}

.container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--clr-primary-color);
  background-color: var(--clr-primary-color-light-100);
  display: block;
  padding: 1rem 1.2rem;
}

.topics-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*----------------- NAV -----------------*/

nav {
  padding: 3rem 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4.1em;
  color: var(--clr-text-color);
  font-weight: 900;
}

.search-container {
  background-color: var(--clr-primary-color-light-200);
  color: var(--clr-text-color-gray);
  border-radius: 300px;
  width: 100%;
  font-size: 2rem;
  padding: 0.9rem;
  margin-left: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  font-size: 1.65rem;
  font-weight: 400;
  width: 100%;
  padding: 0.8rem 0 0.8rem 1.5rem;
  background-color: transparent;
}

.search-icons {
  font-size: 2.4rem;
  padding: 0.9rem;
  border-radius: 300px;
}

/*----------------- HERO -----------------*/

.hero-heading {
  font-size: 2.8em;
  margin: 2rem;
}

.hero-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27rem;
  padding: 3.5rem;
  border-radius: 28px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.hero-title {
  font-size: 4.4em;
}

.hero-description {
  font-size: 1.6em;
  width: 50%;
}

/*----------------- TOPICS -----------------*/

.topics-container {
  display: flex;
  overflow: auto;
  margin-bottom: 12rem;
}

.topic-heading {
  /* font-size: 2.4rem; */
  font-size: 2.8em;
  margin: 3rem 2rem 2rem;
}

.topic {
  background-color: var(--clr-card-color);
  border-radius: 28px;
  display: inline-block;
  padding: 2rem;
}

.topic + .topic {
  margin-left: 2rem;
}

.topic-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 26px;
  height: 12rem;
  width: 21.4rem;
}

.topic-title {
  font-size: 2.2em;
  margin: 1rem 0;
}

.topic-description {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.read-more {
  border-radius: 300px;
  text-align: center;
}

/*------------ FOOTER ------------*/

footer {
  background-color: var(--clr-primary-color-light-200);
  color: var(--clr-primary-color);
}

footer {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem 0;
}

.code {
  text-decoration: none;
  color: var(--clr-primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.code img {
  fill: var(--clr-primary-color);
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}
