@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --clr-bg-color: #fafbff;

  --clr-text-color: #021c35;
  --clr-text-color-gray: #636768;

  --clr-primary-color: #173450;

  --clr-primary-color-light-100: #c3e7ff;
  --clr-primary-color-light-100-hover: #a9d7f5;

  --clr-primary-color-light-200: #eef2fb;
  --clr-primary-color-light-200-hover: #e4edff;

  --clr-card-color: #f1f4fb;
  --clr-card-color-hover: #e6edff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-bg-color);
  color: var(--clr-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--clr-primary-color);
  background-color: var(--clr-primary-color-light-100);
  display: block;
  padding: 1rem 1.2rem;
  transition: background-color 300ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-primary-color-light-100-hover);
}

.heading {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--clr-text-color);
}

.topics-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*----------------- NAV -----------------*/

nav {
  padding: 3rem 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4.1em;
  color: var(--clr-text-color);
  font-weight: 900;
  text-decoration: none;
}

.search-container {
  background-color: var(--clr-primary-color-light-200);
  color: var(--clr-text-color-gray);
  border-radius: 300px;
  width: 100%;
  font-size: 2rem;
  padding: 0.9rem;
  margin-left: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  font-size: 1.65rem;
  font-weight: 400;
  width: 100%;
  padding: 0.8rem 0 0.8rem 1.5rem;
  background-color: transparent;
}

.search-icons {
  background-color: var(--clr-primary-color-light-200);
  font-size: 2.4rem;
  padding: 0.9rem;
  border-radius: 300px;
  transition: background-color 300ms;
  cursor: pointer;
}

.search-icons:hover,
.search-icons:focus {
  background-color: var(--clr-primary-color-light-200-hover);
}

.edit-btn {
  margin-left: 1.5rem;
  padding: 1.8rem;
  text-decoration: none;
  color: var(--clr-text-color);
  background-color: var(--clr-primary-color-light-100);
  border-radius: 30px;
  transition: background-color 300ms, border-radius 300ms;
}

.edit-btn:hover,
.edit-btn:focus {
  background-color: var(--clr-primary-color-light-100-hover);
  border-radius: 18px;
}

/*----------------- HERO -----------------*/

.hero-heading {
  margin: 2rem;
}

.hero-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27rem;
  padding: 3.5rem;
  border-radius: 28px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.hero-title {
  font-size: 4.4em;
}

.hero-description {
  font-size: 1.6em;
  width: 50%;
}

.hero-img-container {
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 100);
}

/*----------------- TOPICS -----------------*/

.topics-container {
  display: flex;
  overflow: auto;
  margin-bottom: 12rem;
}

.topic-heading {
  margin: 3rem 2rem 2rem;
}

.topic {
  background-color: var(--clr-card-color);
  border-radius: 28px;
  width: 25rem;
  display: inline-block;
  padding: 2rem;
}

.topic + .topic {
  margin-left: 2rem;
}

.topic-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 26px;
  height: 12rem;
  width: 21.4rem;
}

.topic-title {
  font-size: 2.2em;
  margin: 1rem 0;
}

.topic-description {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.read-more {
  border-radius: 300px;
  text-align: center;
}

/*------------ FOOTER ------------*/

footer {
  background-color: var(--clr-primary-color-light-200);
  color: var(--clr-primary-color);
  text-align: center;
  margin-top: 12rem;
  padding: 2rem 0;
  margin-top: auto;
}

.code {
  text-decoration: none;
  color: var(--clr-primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.code img {
  fill: var(--clr-primary-color);
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

/*--------------- BLOG ---------------*/

.text-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 10rem;
}

.blog-info {
  display: flex;
  align-items: center;
}

.blog-img {
  margin-top: 2rem;
}

.small-cards {
  border-radius: 8px;
  font-weight: 500;
  margin: 2rem 0;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-cards + .small-cards {
  margin-left: 1rem;
}

.info-icon {
  font-size: 2.4rem;
  margin-right: 1.2rem;
}

.blog-topic {
  font-size: 2.8em;
  margin-bottom: 2rem;
}

.article {
  font-size: 1.8rem;
  font-weight: 400;
}

.article + .article {
  margin-top: 1.5rem;
}

/*--------------- SEARCH ---------------*/

.search-item-container {
  background-color: var(--clr-card-color);
  border-radius: 28px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 300ms;
  text-decoration: none;
  color: inherit;
}

.search-item-container:hover,
.search-item-container:focus {
  background-color: var(--clr-card-color-hover);
}

.search-item-container + .search-item-container {
  margin-top: 2rem;
}

.search-item-container:last-of-type {
  margin-bottom: 10rem;
}

.search-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-width: 10rem;
  height: 10rem;
}

.search-content {
  margin-left: 2rem;
}

.search-title {
  font-size: 2.2rem;
}

.search-description {
  font-size: 1.6rem;
}

.search-info-cards {
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

/*-------------- NO RESULTS --------------*/

.no-results-container {
  text-align: center;
  height: 40rem;
}

.no-results-img {
  margin: 5rem 0 2rem;
  width: 15rem;
}

.no-results-title {
  color: var(--clr-text-color-gray);
  font-weight: 400 !important;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 3.2rem;
  }

  .search-container {
    margin-left: 2rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    width: 100%;
  }

  .blog-topic {
    font-size: 3rem;
  }

  /*--------------- SEARCH ---------------*/
  .search-item-container {
    flex-direction: column;
  }

  .search-img {
    height: 15rem;
    width: 100%;
  }

  .search-content {
    margin-left: 0;
    margin-top: 2rem;
  }
}
